<!DOCTYPE html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fuente Inter -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Estilos -->
  {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
  {{ 'tailwind.css' | asset_url | stylesheet_tag }}

  {% render 'css-variables' %}
  {{ content_for_header }}
</head>

<body class="flex min-h-screen flex-col font-sans bg-white text-black">
  {% section 'header' %}

  <main class="flex-grow">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}
</body>
</html>
